codebase.md
.DS_Store
**/.idea/
**/.vscode/
**/data/
**/build/
**/__pycache__/
**/node_modules/
.env
*.log
.DS_Store
**/dist/
**/coverage/
scratch-space/
output.txt
# Ignore contents of public folder except specific files
/public/*
!/public/CNAME
!/public/assets